# ===== Raíz del monorepo C:\airflow =====

# Entornos
/venv/
/env/
/.venv/
/.pyenv/
config.json

# Prefect project (subcarpeta)
/py_etl/.env
/py_etl/.env.*
/py_etl/__pycache__/
/py_etl/.prefect/
/py_etl/flow_run_logs/
/py_etl/task_run_logs/
/py_etl/logs/
/py_etl/data/
/py_etl/artifacts/
/py_etl/checkpoints/
/py_etl/tmp/
/py_etl/temp/

# Artefactos frecuentes
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
*.log
*.bak
*.tmp

# Salidas tabulares/columnar (ajusta a gusto)
*.csv
*.tsv
*.parquet
*.feather
*.orc
*.xlsx
*.jsonl

# Deployments Prefect (si no quieres versionarlos, descomenta)
/py_etl/*.yaml
# /py_etl/*.yml

# Herramientas y build
build/
dist/
pip-wheel-metadata/
.python-version
.mypy_cache/
.pytest_cache/
.coverage*
htmlcov/
.tox/
.ruff_cache/
.pyre/
.dmypy.json
.pytype/

# Directorios específicos
config/__pycache__/

# Notebooks
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini